<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.09.2021, 14:54</p>
            <h2><a href="">My first post</h2>
            <p>Aenean eu leo quam. こんにちは！よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日：2021/09/04, 14:56</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>